#red-button {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
  
#green-button {
    height: 15px;
    width: 15px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
  
#yellow-button {
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }

  #parent-window {
    width: fit-content;
    aspect-ratio: 16/9;
  }

#upper-bar-window {
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#main-body-window {
    background-color: #6193C4;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* height: 360px;
    width: '80%'; */
    aspect-ratio: 16/9;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 80px;
  display: flex;
  align-items: center;
}